<?xml version="1.0" encoding="utf-8"?>

<packages>
  <package id="Portable.DataAnnotations" version="1.0.0" targetFramework="portable4-net45+sl5+win8+wp8+wpa81" />
  <package id="StyleCop.Analyzers" version="1.0.0-beta014" targetFramework="portable4-net45+sl5+win8+wp8+wpa81"
           developmentDependency="true" />
  <package id="WhitespaceAnalyzers" version="1.0.5716.21417" targetFramework="portable4-net45+sl5+win8+wp8+wpa81" />
</packages>